*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px
}
.top-header{
    background-image: linear-gradient(45deg, #664646, #3c0c0c73),url(images/Rectangle\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;

}
section{
    margin-bottom: 100px;
}
.text{
    position: relative;
    transform: translateY(50px);
    top: 150px;
    width: 650px;
    color: aliceblue;
}    
.text p{
    margin-bottom: 40px;
}
.link-btn a{
    text-decoration: none;
    background-color: rgb(252, 38, 0);
    padding:10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;

}
.container{
    width: 980px;
    margin: auto;
    
}
.warper{
    justify-content:space-between;
    align-items: center;
    display: flex;
}
.half-width{
    width: 50%;
    justify-content: space-between;
}

.left-img img{
    height: 400px;
    width: 100%;
}

.title-text h1,
.info-text h1{
    font-size: 40px;
}
.title-text p,.info-text p{
    color: #888;
    padding: 20 0px;
    margin-bottom: 40px;
    width: 90%;

} 
.title-text{
    text-align: center;
}
/* cart section */
.cart-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.cart{
    display: flex;
    height: 30vh;
    background-color: antiquewhite;
    align-items: center;
    border-radius: 5px;
}
.cart img{
    width: 80px;
    height: 80px;
    padding: 15px;
}
.cart-text{
    padding: 15px;
}
/* pray part */
.pray{
    display: flex;
}
.pray img{
    width: 97%;
}
/* give love part */
.give-love{
    display: flex;
}
.give-love img{
    height: 30vh;
    width: 100%;
}
.love-cart{
    box-shadow: -1px 1px 8px 0px #d5caca;
    height: 400px;
    margin-left: 20px;
    border-radius: 5px;
}
.love-text{
    padding: 15px;
}
.love-text p{
    margin: 10px 0px 40px 0px;
}
/* footer */
footer{
    background-color: black;
    color: white;
    height: 150px;
}
.footer-text{
    text-align: center;
    padding-top: 40px;
}
.footer-text h2{
    color: red;
}